@import "styles/variables";

.sale {
  cursor: pointer;
  width: 100%;
  height: 410px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover {
    .saleDescription {
      animation: scale-in 1s ease;
    }
  }
}

.saleBg {
  background: url("/images/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  filter: contrast(0.4);
  left: 0;
  z-index: -1;
}

.saleDescription {
  text-transform: uppercase;
  padding: 15px 5px 25px 5px;
  border: 4px white solid;
  z-index: 1;
  text-align: center;
  color: white;

  a {
    transition: 0.2s color;
    margin: 15px 0;
    font-size: 1.2em;
    color: $main_color;

    &:hover {
      color: white;
    }
  }

  h4 {
    font-size: 3.5em;
    width: 250px;
  }
}

@keyframes scale-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media (max-width: 1000px) {
  .sale {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .saleDescription {
    padding: 0;
  }
}

//@media (max-width: 800px) {

//}