@import "styles/variables";

.navBg {
  background-color: whitesmoke;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.number {
  align-self: center;
  display: flex;
  letter-spacing: 0;
}

.navigation {
  font-size: 1em;
  text-transform: uppercase;
  list-style-type: none;
  display: flex;
}

.navItem {
  transition: 0.5s all;
  cursor: pointer;
  margin: 0;
  padding: 16px 18px;
  position: relative;
  z-index: 1;
  i {
    font-size: 1.2em;
  }
  &::before{
    z-index: -1;
    content: '';
    background-color: rgba(#dbdbdb, 1);
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s height;
  }
  &:hover {
    &::before{
      height: 100%;
    }
  }
}

.top {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style-type: none;
  display: flex;
  font-size: 1.1em;
}

.line-style {
  content: '';
  display: block;
  position: absolute;
  background-color: $main_color;
  transition: 0.5s all;
}

.menuItem {
  div {
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 100%;
  }
  position: relative;
  padding: 8px 12px;
  margin: 0 5px;
  text-transform: uppercase;
  transition: 0.5s all;
  cursor: pointer;
  overflow: hidden;
  //top-line
  &::before {
    @extend .line-style;
    top: 0;
    right: 0;
    width: 100%;
    height: 2px;
    transform: translateX(100%);
  }

  //right-line
  &::after {
    @extend .line-style;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    transform: translateY(-100%);
  }

  //left-line
  > div::after {
    @extend .line-style;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    transform: translateY(-100%);
  }

  //bottom-line
  > div::before {
    @extend .line-style;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    transform: translateX(100%);
  }

  &:hover {
    > div:before {
      transform: translateX(0);
    }

    > div:after {
      transform: translateY(0);
    }

    &::after {
      transform: translateY(0);
    }

    &::before {
      transform: translateX(0);
    }
  }
}


.logo {
  border-radius: 100px;
  width: 110px;
}
