@import "styles/variables";

.sliderSection {
  display: flex;
  justify-content: space-between;
}

.cards{
margin-top: 10px;
}


@media (max-width: 1000px) {
  .sliderSection {
    flex-direction: column;
  }
}