@import "styles/variables";

.sliderSection {
  display: grid;
  grid-template-columns: 3fr 0.97fr;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
}

.cards {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 15px;
}

@media (max-width: 1000px) {
  .sliderSection {
    grid-template-columns: 1fr;
  }
  .cards{
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
  }
}

@media (max-width: 600px) {
  .cards{
    grid-template-columns: 1fr;
  }
}