.slider {
  width: 75%;
}

.img {
  height: 400px;
  width: 100%;
  position: relative;
  img {
    //position: absolute;
    //top: 0;
    //left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    //z-index: -1;
  }
}
.description{
  background-color: rgba(#000, 0.5);
  color: white;
  z-index: 10;
  position: absolute;
  width: 100%;
  top: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}