@import "styles/variables";

.card {
  width: 100%;
  height: 200px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    .cardDescription {
      background-color: rgba($main_color, 0.7);
      width: 94%;
      height: 94%;

      h4 {
        margin-bottom: 35px;
      }

      a {
        opacity: 1;
      }
    }

  }
}

.cardBg {
  filter: contrast(0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  //background: url("/images/cards/1.jpg");
  background-repeat: no-repeat;

}

.cardDescription {
  width: 100%;
  height: 100%;
  color: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s all;


  h4 {
    transition: 0.4s all;
    font-size: 2em;
    margin: 0;

    &::after {
      content: '-';
      margin: 0 5px;
    }

    &::before {
      content: '-';
      margin: 0 5px;
    }
  }

  p {
    font-size: 1.2em;
  }

}

.cardBtn {
  transition: 0.3s all;
  opacity: 0;
  padding: 8px 15px;
  border: 2px white solid;
  position: relative;

  &::before {
    transition: 0.3s all;
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    left: 0;
    background-color: rgba(pink, 0.0);
  }

  &:hover {
    border: 2px $second_color solid;

    &::before {
      height: 100%;
      top: 0;
      background-color: $second_color;
    }
  }
}