@import "styles/variables";

.card {
  width: 25%;
  height: 200px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    .cardDescription{
      background-color: rgba($main_color, 0.7);
      width: 95%;
      height: 90%;
    }

  }
}

.cardBg {
  filter: contrast(0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  background: url("/images/cards/1.jpg");
  background-repeat: no-repeat;

}

.cardDescription {
  width: 100%;
  height: 100%;
  color: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s all;


  h4 {
    font-size: 2em;
    margin: 0;

    &::after {
      content: '-';
      margin: 0 5px;
    }

    &::before {
      content: '-';
      margin: 0 5px;
    }
  }

  p {
    font-size: 1.2em;
  }
}