html,
body {
    padding: 0;
    margin: 0;
    font-family: Ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}

header {
    color: #444444;
}
ul{
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.container {
    width: 87%;
    margin: 0 auto;
}

.slick-next {

    right: 30px;
}
.slick-prev {
    left: 30px;
    z-index: 1;
}