@import "styles/variables";

@font-face {
  font-family: Madelyn; /* Имя шрифта */
  src: url(/fonts/Madelyn-Regular.ttf); /* Путь к файлу со шрифтом */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

header {
  color: #444444;
}

ul {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.slick-next {
  right: 30px;
}

.slick-prev {
  left: 30px;
  z-index: 1;
}

.container {
  width: 87%;
  margin: 0 auto;
}

.link-btn {
  position: relative;
  padding: 14px 17px;
  z-index: 1;
  border: 2px $main_color solid;

  &::before {
    transition: 0.3s all;
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    left: 0;
    background-color: rgba($main_color, 0.0);
  }

  &:hover {
    &::before {
      height: 100%;
      top: 0;
      background-color: $main_color;
    }
  }

}

@media (max-width: 1300px) {
  .container{
    width: 100%;
  }
}